.skill-lt .skill-bar {
    position: relative;
background-color: rgba(255, 255, 255, 0.8);
    margin-top: 25px;
    box-sizing: border-box;
    outline: none;
}
.less{
    background: #2fbf71;
    color: #fff;
    font-size: 11px;
    padding: 1px 8px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 1px;
    margin-left: -24px;
    position: relative;
    margin-bottom: 9px;
    box-sizing: border-box;
    
}
.rb{
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background: #2fbf71;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.separated {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Rubik", monospac;
    line-height: 1.7;
    font-size: 15px;
    font-weight: 300;
}
    
