.px-btn.px-btn-theme {
    background: #2fbf71;
    color: #fff;
    box-shadow: 4px 4px #fff;
}
.about-info .btn-bar .px-btn {
    min-width: 150px;
    text-align: center;
}
.px-btn {
    padding: 0 25px;
    line-height: 42px;
    position: relative;
    display: inline-block;
    background: none;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none !important;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}